Source: librest-client-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Anuradha Weeraman (anu) <aweeraman@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/pod/REST::Client
Testsuite: autopkgtest-pkg-perl

Package: librest-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Simple client for interacting with RESTful http/https resources
 A simple way to interact with HTTP RESTful resources.
