Source: librest-client-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Anuradha Weeraman (anu) <aweeraman@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.6
Homepage: http://search.cpan.org/~mcrawfor/REST-Client-271/
Testsuite: autopkgtest-pkg-perl

Package: librest-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: A simple client for interacting with RESTful http/https resources
 This module provides a simple way to interact with HTTP RESTful resources.
